PORTKEY_CLIENT_AUTH="client-auth-xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
ORGANISATIONS_TO_SYNC="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
SERVICE_NAME=portkey-gateway
PORTKEY_REGISTRY_USERNAME="your-registry-username"
PORTKEY_REGISTRY_PASSWORD="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
