.env
*.pem
*.key
*.pfx
.DS_Store

gcp/*
values-full.yml

# Tofu / Terraform
gcp/tofu/terraform.tfvars
gcp/tofu/.terraform/
gcp/tofu/.terraform.lock.hcl
gcp/tofu/terraform.tfstate
gcp/tofu/terraform.tfstate.backup
